
# ---------------------------------------------------------------------------- #
#                                     Minio                                    #
# ---------------------------------------------------------------------------- #

data/minio/storage/

# ---------------------------------------------------------------------------- #
#                                   Postgres                                   #
# ---------------------------------------------------------------------------- #

data/postgres

# ---------------------------------------------------------------------------- #
#                                    Airflow                                   #
# ---------------------------------------------------------------------------- #

.airflow
data/airflow/logs/
data/airflow/airflow.db
data/airflow/airflow-webserver.pid
standalone_admin_password.txt

# ---------------------------------------------------------------------------- #
#                                    Gateway                                   #
# ---------------------------------------------------------------------------- #

data/gateway/logs
data/gateway/temp

# ---------------------------------------------------------------------------- #
#                                     Misc                                     #
# ---------------------------------------------------------------------------- #

__pycache__
.DS_Store