# ---------------------------------------------------------------------------- #
#                                     Admin                                    #
# ---------------------------------------------------------------------------- #

.vite

# ---------------------------------------------------------------------------- #
#                                   Postgres                                   #
# ---------------------------------------------------------------------------- #

data/postgres

# ---------------------------------------------------------------------------- #
#                                    Airflow                                   #
# ---------------------------------------------------------------------------- #

.airflow
data/airflow/logs/
data/airflow/airflow.db
data/airflow/airflow-webserver.pid
standalone_admin_password.txt

# ---------------------------------------------------------------------------- #
#                                    Gateway                                   #
# ---------------------------------------------------------------------------- #

data/gateway/logs
data/gateway/temp

# ---------------------------------------------------------------------------- #
#                                    CouchDb                                   #
# ---------------------------------------------------------------------------- #

data/couchdb/data
data/couchdb/config

# ---------------------------------------------------------------------------- #
#                                     Redis                                    #
# ---------------------------------------------------------------------------- #

data/redis/data

# ---------------------------------------------------------------------------- #
#                                     Misc                                     #
# ---------------------------------------------------------------------------- #

__pycache__
.DS_Store
**/node_modules/**
**/dist/**
.env.development
.idea/
*.xcworkspacedata
IDEWorkspaceChecks.plist
.env.sentry-build-plugin

# ---------------------------------------------------------------------------- #
#                                      App                                     #
# ---------------------------------------------------------------------------- #

modules/apps/mobile/android/app/src/main/assets/*

# ---------------------------------------------------------------------------- #
#                                    Scripts                                   #
# ---------------------------------------------------------------------------- #

scripts/.scripts
