[submodule "services-database"]
	path = modules/services/database
	url = git@github.com:akdasa-studios/lectorium-database.git
[submodule "apps-mobile"]
	path = modules/apps/mobile
	url = git@github.com:akdasa-studios/lectorium-mobile.git
[submodule "services-gateway"]
	path = modules/services/gateway
	url = git@github.com:akdasa-studios/lectorium-gateway.git
[submodule "services-brahma"]
	path = modules/services/brahma
	url = git@github.com:akdasa-studios/lectorium-brahma.git
[submodule "services-vayu"]
	path = modules/services/vayu
	url = git@github.com:akdasa-studios/lectorium-vayu.git
